<h2><%= @album.name %></h2>

<%= image_tag @album.image, :class => 'feature' if @album.image.present? %>

  <ul>
    <li>Name: <%= link_to @album.name, @album %></li>
    <% if @album.singer.present? %>
    <li>Singer: <%= link_to @album.singer.name, @album.singer %></li>
  <% end %>
    <li>Year: <%= @album.year %></li>
    <li>Genre: <%= @album.genre %></li>
  </ul>


<div class="controls">
  <%= link_to "Edit #{@album.name}", edit_album_path(@album) %>
  <%= link_to "Delete #{@album.name}", @album, :method => 'delete', :data => {:confirm => "Are you sure?"} %>
</div>
