<h2><%= @dogs["name"]  %></h2>
<h3>Origin: <%= @dogs["family"] %></h3>

<% unless @dogs["image"].nil? || @dogs["image"].empty? %>

<img class="feature" src="<%= @dogs['image']%>" alt="<%= @dogs['name']  %>">

<% end %>
<p></p>
<div class="controls">

  <a href="/dogs/<%= @dogs['id'] %>/edit">Edit</a>
  <a href="/dogs/<%= @dogs['id'] %>/delete">Delete</a>
</div>
