<body>
  <h1><%= @book_title %></h1>
  <p>by</p>
  <h3><%= @book_authors %></h3>

<img src="<%= @img %>" alt="">
<h6>Category: <i><%= @book_category %></i></h6>
<div>
<p><i><%= @book_avg_rating %> of <%= @book_ratings_count %> reviews.</i></p>
<p><i>Maturity Rating: <%= @books_maturity_rating %></i></p>
<p><i>Price: <%= @books_price %> <%= @books_price_currency %> </i></p>
</div>
<p><i><%= @book_blurb %></i></p>
</body>
