<body>
  <h1><%= @book_title %></h1>
  <p>by</p>
  <h3><%= @book_authors %></h3>

<img src="<%= @img %>" alt="">
<h6>Category: <i><%= @book_category %></i></h6>
<p><i><%= @book_blurb %></i></p>
</body>
