<h1>Search Results</h1>
<div class="wrapper">
  <div class="book">
    <h2> <%= @title_1 %> </h2>
    <h4> <%= @author_1 %> </h4>
    <a href="<%= @buy_link_1 %>" target="_blank">
      <img src="<%= @thumbnail_1 %>" alt="">
    </a>
    <p> <%= @description_1 %> </p>
  </div>

  <div class="book">
    <h2> <%= @title_2 %> </h2>
    <h4> <%= @author_2 %> </h4>
    <a href="<%= @buy_link_2 %>" target="_blank">
      <img src="<%= @thumbnail_2 %>" alt="">
    </a>
    <p> <%= @description_2 %> </p>
  </div>

  <div class="book">
    <h2> <%= @title_3 %> </h2>
    <h4> <%= @author_3 %> </h4>
    <a href="<%= @buy_link_3 %>" target="_blank">
      <img src="<%= @thumbnail_3 %>" alt="">
    </a>
    <p> <%= @description_3 %> </p>
  </div>
</div>
