<!DOCTYPE html>
<html>
  <head>
    <title>RailsGames</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container">
        <nav>
          <div class="navbox">
            <a href="/">Home</a>
          </div>
          <div class="navbox">
            <a href="/8_ball">Magic 8 Ball</a>
          </div>
          <div class="navbox">
            <a href="/secret_num">Guess the Number</a>
          </div>
          <div class="navbox">
            <a href="/rock">Scissor Paper Rock</a>
          </div>
        </nav>
      <%= yield %>
    </div>
  </body>
</html>
