<h1>Bookcover</h1>


<h2>Title: <%= @book_title %></h2>
<h3>Published: <%= @published_date %></h3>
<h3>Author: <%= @author %></h3>
<img class= "pic" src="<%= @bookcover %>" alt="Sorry">
<!-- <p><%= @description %></p> -->
