<!DOCTYPE html>
<html>
  <head>
    <title>RailsIntro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <a href="/magic8ball">Magic 8 ball Game</a>
<a href="/secretnumber">Secret Number Game</a>
    </nav>
    <%= yield %>
  </body>
</html>
