<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Result</title>
  </head>
  <body>
    <h2>Infos about: <%= request %></h2>
    <p>Current price: <%= quote.currentPrice %> <%= quote.currency %></p>
    <p>Total revenue: <%= quote.totalRevenue %> <%= quote.currency %></p>
  </body>
</html>
