<h1>Hello</h1>

<!-- This is hard coding URLs -->

<!-- <a href="/">Home</a>
<a href="/numbers">Numbers</a>
<a href="/text">Text</a>
<a href="/assets">Assets</a>
<a href="/url">URLs</a> -->


<!-- this is large scale url_path coding -->

<%= link_to "Home", root_path %>
<%= link_to "Numbers", numbers_path %>
<%= link_to "Text", text_path %>
<%= link_to "Assets", assets_path %>
<%= link_to "URLs", url_path %>

<%= link_to "Home", root_path %>
<%= link_to "Numbers", numbers_path %>
<%= link_to "Text", text_path %>
<%= link_to "Assets", assets_path %>
<%= link_to "URLs", url_path %>

<%= link_to "Home", root_path %>
<%= link_to "Numbers", numbers_path %>
<%= link_to "Text", text_path %>
<%= link_to "Assets", assets_path %>
<%= link_to "URLs", url_path %>

<%= link_to "Home", root_path %>
<%= link_to "Numbers", numbers_path %>
<%= link_to "Text", text_path %>
<%= link_to "Assets", assets_path %>
<%= link_to "URLs", url_path %>
