<!DOCTYPE html>
<html>
  <head>
    <title>Games</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css">
    <link rel="stylesheet" href="/assets/style.css">
  </head>

  <body>
    <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/eight_ball">Magic 8 Ball</a>
      <a href="/secret_num">Secret Number</a>
      <a href="/rock_paper_scissors">Rock Paper Scissors</a>
    </nav>
    <%= yield %>
    </div>
  </body>
</html>
