<!DOCTYPE html>
<html>
  <head>
    <title>IrishSingers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <div class="container">
    <nav>
      <%= link_to "All Singers", singers_path %>
      <%= link_to "New Singer", new_singer_path %>
      |
      <%= link_to "Albums", albums_path %>
      <%= link_to "New Album", new_album_path %>
    </nav>
    <%= yield %>
    </div>
  </body>
</html>
