
<div id="container">
<div id="title">
  Here is the informations you're looking for:
</div>
<div><img src="<%= @thumbnail %>" alt=""></div>
<ul>
  <li>Title: <strong><%= @title %></strong></li>
  <li>Author: <strong><%= @author %></strong></li>
  <li>Published date: <strong><%= @published_date %></strong></li>
  <li>Publisher: <strong><%= @publisher %></strong></li>
</ul>
<div id="summary">
  <strong>Summary:</strong><br><%= @summary %>
</div>

</div>
