<!DOCTYPE html>
<html>
  <head>
    <title>Games</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <nav>
      <a href="/">Home</a>
      <a href="/magic">Magic</a>
      <a href="/secret_number">Secret Number</a>
    </nav>


  <body>
    <%= yield %>
  </body>
</html>
