<h2><%= @work.title %></h2>
<%= image_tag @work.image, :class => 'feature', :alt =>@work.title %>
<ul>
  <li>TItle: <%= @work.title %></li>
  <li>Year: <%= @work.year %></li>
  <li>Medium: <%= @work.medium %></li>
  <li>Style: <%= @work.style %></li>
</ul>
